atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes

git/gitconfig.symlink

vim/profile/autoload/pathogen.vim
vim/profile/backups/
